/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.play-area {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto;
}
.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid black;
  transition: background 0.2s ease-in-out;
} */

/* .block:hover {
  cursor: pointer;
  background: #0ff30f;
} */
*{
  margin: 0;
}
div{
  display: flex;
  margin: .5rem;
  padding: 1rem;
  border: 3px solid black;
  min-height: 1rem;
  flex-grow: 1;

}
.grandparent{
  background-color: red;
  flex-direction: column;
}
.parent{
  background-color: aquamarine;
}
.child{
  background-color: greenyellow;
}